@{
    Page.Title = "Bridal Party";
}

<hgroup>
    <h1>Album</h1>
    <h3>Picture of Holly &amp; Matthew</h3>
</hgroup>
<div id="gallery">
    <figure id="mainImage">
        <img src="@Href("~/images/cover.jpg")" alt="The Proposal" />
        <figcaption>The &quot;Rock&quot;, I cannot take credit for picking it out Holly gave me a limited set of choices.</figcaption>
    </figure>
    <ul id="images">
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image." class="selected" />
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li class="last">
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image." class="selected" />
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li class="last">
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image." class="selected" />
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
        <li class="last">
            <a href="@Href("~/images/cover.jpg")">
                <img src="@Href("~/images/cover.jpg")" alt="The Proposal" title="Some placeholder caption of the image."/>
            </a>
        </li>
    </ul>
</div>


@section Scripts {
<script>
    $(function () {
        $('#images img').click(function () {
            var image = $("#mainImage img");
            $('.selected').removeClass('selected');
            image.attr('src', $(this).attr("src"));
            $("#mainImage figcaption").text($(this).attr("title"));
            $(this).addClass('selected');
            return false;
        });
        $('#mainImage img').hover(function () {
            $('#mainImage figcaption').slideToggle('fast');
        });
    });
</script>
}