@{
    Page.Title = "Bridal Party";
    Page.pictures = "current";
}

<hgroup>
    <h1>Album</h1>
    <h3>Picture of Holly &amp; Matthew</h3>
</hgroup>
<div id="gallery">
    <figure id="mainImage">
        <img src="@Href("~/images/pictures/1.jpg")" alt="The Proposal" />
        <figcaption>Whidbey Island weekend getaway.</figcaption>
    </figure>
    <ul id="images">
        <li>
            <a href="@Href("~/images/pictures/1.jpg")">
                <img src="@Href("~/images/pictures/1.jpg")" alt="The Proposal" title="Whidbey Island weekend getaway." class="selected" />
            </a>
        </li>
        <li>
            <a href="@Href("~/images/pictures/2.jpg")">
                <img src="@Href("~/images/pictures/2.jpg")" alt="The Proposal" title="Our first trip together – San Francisco."/>
            </a>
        </li>
        <li>
            <a href="@Href("~/images/pictures/3.jpg")">
                <img src="@Href("~/images/pictures/3.jpg")" alt="The Proposal" title="Mt. St. Helen's for Matthew Birthday."/>
            </a>
        </li>
        <li class="last">
            <a href="@Href("~/images/pictures/4.jpg")">
                <img src="@Href("~/images/pictures/4.jpg")" alt="The Proposal" title="Just a bit of our goofy side – Winthrop, WA."/>
            </a>
        </li>
    </ul>
</div>


@section Scripts {
<script>
    $(function () {
        $('#images img').click(function () {
            var image = $("#mainImage img");
            $('.selected').removeClass('selected');
            image.attr('src', $(this).attr("src"));
            $("#mainImage figcaption").text($(this).attr("title"));
            $(this).addClass('selected');
            return false;
        });
        $('#mainImage img').hover(function () {
            $('#mainImage figcaption').slideToggle('fast');
        });
    });
</script>
}